# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore environment files
.env

# Ignore system files
.DS_Store

venv/

build/
dist/
*.egg-info/
*.pyc
__pycache__/
