black==24.8.0
build==1.2.1
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
matplotlib==3.9.2
numpy==1.26.2
pandas==2.2.2
scikit-learn==1.5.1
nltk==3.9.1
spacy==3.7.6
transformers==4.44.2
torch==2.4.0
datasets==2.21.0
flask==3.0.3
django==5.1
requests==2.32.3
beautifulsoup4==4.12.3
textblob==0.17.1
gensim==4.3.3
openai==1.42.0
